@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* Blanc */
  --background-rgb: 24, 24, 27; /* #18181b en RGB */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Blanc */
    --background-rgb: 24, 24, 27; /* #18181b en RGB */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  background-color: white;
  color: rgb(var(--background-rgb));
}

::-moz-selection {
  background-color: white;
  color: rgb(var(--background-rgb));
}

::-webkit-scrollbar {
  width: 7px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d8d8d8;
}
