.home-hero-motion-div {
  position: absolute;
  left: 10vw;
}

.home-hero-text-1 {
  display: block;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: bold;
}

.home-hero-text-2 {
  font-weight: 200;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.home-hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.home-about-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  gap: 200px;
}

.home-about-section-content-1 {
  display: flex;
  width: 80%;
  margin: auto;
}

.home-about-section-text {
  width: 60%;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-carousel-container {
  display: flex;
  width: 80%;
  margin: auto;
}

.home-generate-text {
  font-size: 1.8rem;
}

.home-tilt-container {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 40%;
}

.contact-list-container {
  display: flex;
  justify-content: start;
  gap: 40px;
}

.contact-icon {
  font-size: 35px;
  transition: 0.3s ease;
}

.contact-icon:hover {
  scale: 1.1;
}

@media (max-width: 1536px) {
  .home-hero-text-container {
    gap: 30px;
  }

  .home-hero-text-1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .home-hero-text-2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .home-generate-text {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
