.no-scroll {
  overflow: hidden;
}

.card-modal-overlay {
  position: fixed; /* Assurez-vous qu'il couvre toute la fenêtre */
  top: 0;
  left: 0;
  width: 100vw; /* Largeur de la fenêtre */
  height: 100vh; /* Hauteur de la fenêtre */
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  z-index: 1000; /* Assurez-vous qu'il est au-dessus des autres contenus */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-modal-carousel-container {
  width: 100%;
}

.card-modal {
  display: flex;
  flex-direction: column;
  background-color: rgb(29, 29, 29);
  width: 60%;
  height: 90%;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
  padding: 50px;
  gap: 30px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

.card-modal-content {
  max-height: 100%;
  overflow-y: auto;
  background-color: rgb(41, 41, 41);
  height: 100%;
  padding-bottom: 80px;
  border-radius: 25px;
  padding-top: 60px;
  padding-bottom: 80px;
}

.card-modal-content-ptop {
  padding-top: 20px;
  background-color: rgb(41, 41, 41);
}

.card-modal-content::-webkit-scrollbar {
  width: 7px;
}

.card-modal-content::-webkit-scrollbar-thumb {
  background-color: rgb(100, 100, 100); /* Color of the scrollbar thumb */
  border-radius: 10px;
}

.card-modal-content::-webkit-scrollbar-thumb:hover {
  background-color: rgb(150, 150, 150);
}

.card-modal-close {
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 2px;
  border-radius: 50%;
}

.card-modal-close-icon {
  width: 30px;
  height: 30px;
  color: rgb(41, 41, 41);
}

.card-modal-images img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.card-modal-subtitle {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

.card-modal-title {
  font-size: 2.75rem;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 3rem;
}

.card-modal-text {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(247, 247, 247);
  margin-bottom: 1rem;
}

.card-modal-text-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

.card-modal-text-paragraph {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(247, 247, 247);
  margin-bottom: 1rem;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

.card-modal-stack-line {
  content: "";
  display: block;
  width: 80%;
  margin: auto;
  height: 2px;
  background-color: rgb(100, 100, 100);
  border-radius: 10px;
  margin-bottom: 40px;
}

.card-modal-stack {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 80%;
  margin: auto;
  gap: 40px;
}

.card-modal-stack-icon {
  width: 40px;
  height: 40px;
  color: white;
}

@media (max-width: 1536px) {
  .card-modal {
    width: 80%;
  }
}

/* Carousel CSS */

.embla__modal {
  width: 80%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}

.embla__modal__viewport {
  overflow: hidden;
  width: 100%;
  height: auto; /* Ajuste automatiquement la hauteur */
}

.embla__modal__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__modal__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  height: auto; /* Ajuste automatiquement la hauteur */
}

.embla__modal__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto; /* Ajuste automatiquement la hauteur */
  user-select: none;
}

.embla__modal__slide__img {
  display: block;
  width: 100%;
  height: auto; /* Ajuste automatiquement la hauteur */
  object-fit: contain; /* Ajuste l'image sans déformation */
}

.embla__modal__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 30px;
}

.embla__modal__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__modal__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__modal__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__modal__button__svg {
  width: 35%;
  height: 35%;
}

.embla__modal__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
  gap: 10px;
}

.embla__modal__dot {
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: solid 2px gray;
}

.embla__modal__dot:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.embla__modal__dot--selected:after {
  height: 0px;
  width: 0px;
  padding: 3px;
  background-color: none;
  border: solid 2px white;
}

.embla__modal__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
